<GridLayout rows="auto,*">
    <GridLayout row="0">
        <!-- header -->
        <ContentView row="0">
            <ns-header headerTitle="LOGIN" hasBackButton="true"></ns-header>
        </ContentView>
    </GridLayout>

    <StackLayout row="1">
        <!-- main content -->
        <StackLayout padding="20">
            <Label fontFamily="Almarai,Almarai-Regular" [textAlignment]="isRtl ? 'right' : 'left'"
                text="{{'user.name' | L}}" class="bold text-center" fontSize="25"></Label>

            <Label [textAlignment]="isRtl ? 'right' : 'left'" text="{{'user.name' | L}}"></Label>
            <TextField [textAlignment]="isRtl?'right':'left'" hint="{{'shared.hint' | L}}"
                class="font-size-h3 p-s m-t-s border-b-primary"></TextField>
            <Label [textAlignment]="isRtl ? 'right' : 'left'" text="{{'user.name' | L}}"></Label>
            <TextField [textAlignment]="isRtl?'right':'left'" hint="{{'shared.hint' | L}}"
                class="font-size-h3 p-s m-t-s border-b-primary"></TextField>

            <ActivityIndicator color="blue" busy="true"></ActivityIndicator>

            <Button row="1" height="44" text="Navigate" (tap)="navigate()" class="button-primary m-t-xl "></Button>

        </StackLayout>

    </StackLayout>
</GridLayout>